h1 {
color: red;
margin-top: 50px;
margin-left: 80px;
letter-spacing: 1px;
font-family: "Cormorant Garamond", serif;
font-weight: 600;
font-style: normal;
}

h2 {
  color: black;
  margin-top: -10px;
  margin-left: 80px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  }


.nav-bar {
display: flex;
flex-direction: row;
justify-content: space-around;
list-style-type: none;
letter-spacing: 1px;
font-family: "Cormorant Garamond", serif;
font-size: 30px;
}

a {
color:#929090;
}

